.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.button{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  outline: none;
  padding: 10px 16px;
  transition: color 100ms;
  touch-action: manipulation;
}

.button:hover {
  background-color: #f074a3;
}
